@keyframes xoayanhlientuc1 {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes xoayanhlientuc1 {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

body {
  font-family: sans-serif;
  overflow: hidden;
  background: #fff;
  max-height: 1100px;
}

.bookWrapper {
  width: 98%;
  height: 98vh;
}

.bookBg {
  position: relative;
  background: #003445;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  margin-left: 15px;
}

.pageBg {
  position: relative;
  left: 50%;
  top: 50%;
  width: calc(100% - 12px);
  height: calc(100% - 10px);
  border-radius: 30px !important;
  background: #fff;
}

.pageBg .first-page {
  width: 50%;
  height: 100%;
  float: left;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pageBg .first-page .first-left {
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(55%, rgba(55, 65, 77, 0.1)), to(rgba(56, 155, 151, 0.13))), url(../img/4DE019F0-5BA5-4E2C-B0F4-2AC7A3D9ED06.JPG);
  background-image: linear-gradient(to right, rgba(55, 65, 77, 0.1) 55%, rgba(56, 155, 151, 0.13)), url(../img/4DE019F0-5BA5-4E2C-B0F4-2AC7A3D9ED06.JPG);
  height: 100%;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.pageBg .first-page .first-right {
  margin: 0;
  background: #fff;
}

.pageBg .first-page .first-right .first-infor {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  color: #003445;
}

.pageBg .first-page .first-right .first-infor h3 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
}

.pageBg .first-page .first-right .first-infor p {
  text-align: left;
  font-weight: 15px;
  line-height: 22px;
}

.pageBg .first-page .first-right .first-menu li {
  list-style: none;
  font-size: 17px;
}

.pageBg .first-page .first-right .first-menu li a {
  color: #003445;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.pageBg .first-page .first-right .first-menu li a i {
  padding: 10px 7px 7px 0;
}

.pageBg .first-page .first-right .first-menu li a:hover {
  text-decoration: underline;
  color: #33b1db;
}

.pageBg .first-page .first-right .first-menu .first-btn {
  display: block;
  text-align: center;
  margin-top: 40px;
}

.pageBg .first-page .first-right .first-menu .first-btn a {
  text-decoration: none;
  padding: 10px 25px;
  color: #fff;
  background: #0fb9b1;
  border: 1px solid #0fb9b1;
  border-radius: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pageBg .first-page .first-right .first-menu .first-btn a:hover {
  background: #076e69;
}

.pageBg .first-page .first-right .first-menu hr {
  width: 80%;
  background: #003445;
  border: 0;
  height: 1px;
  margin: 0 auto;
  margin-top: 30px;
}

.pageBg .first-page .first-right .first-contact li {
  list-style: none;
  line-height: 30px;
  font-weight: lighter;
}

.pageBg .first-page .first-right .first-contact li a {
  color: #003445;
  font-size: 14px;
}

.pageBg .first-page .first-right .first-contact li a i {
  margin-right: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 20px;
}

.pageBg .first-page .first-right .first-contact li a i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.pageWrapper {
  position: absolute;
  width: 50%;
  height: 100%;
  float: left;
  -webkit-font-smoothing: antialiased;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pageFace {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.front {
  border-left: 1px solid #003445;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: #fff;
}

.front .wrapper {
  width: 90%;
  color: #003445;
}

.front .wrapper h3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding-left: 10px;
  float: left;
  margin-left: 40px;
  font-size: 25px;
  margin-top: 45px;
  width: 100%;
  text-align: center;
}

.front .wrapper .what-i-do p {
  float: left;
  margin-top: 20px;
  text-align: left;
  margin-left: 40px;
  font-weight: lighter;
  word-spacing: 1px;
  text-align: justify;
}

.front .wrapper .experience {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}

.front .wrapper .experience h6 {
  font-weight: bolder;
  font-size: 18px;
  margin: 5px 0;
}

.front .wrapper .experience .col {
  width: 25%;
  margin: 0 20px 20px 20px;
}

.front .wrapper .experience .col p {
  font-size: 14px;
  font-weight: lighter;
  word-spacing: 1px;
  margin-left: 10px;
  text-align: justify;
}

.front .wrapper .experience .col img {
  cursor: pointer;
  padding: 20px;
}

.front .wrapper .experience .col img:hover {
  -moz-animation: xoayanhlientuc1 2s linear infinite;
  -webkit-animation: xoayanhlientuc1 2s linear infinite;
  -o-animation: xoayanhlientuc1 2s linear infinite;
}

.back {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background: #fff;
  border-right: 1px solid #003445;
}

.back .wrapper {
  width: 90%;
  color: #003445;
  max-height: 560px;
}

.back .wrapper .experience {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.back .wrapper .experience h6 {
  font-weight: bolder;
  font-size: 18px;
  margin: 5px 0;
}

.back .wrapper .experience h3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding-left: 10px;
  float: left;
  margin-left: 40px;
  font-size: 25px;
  margin-top: 45px;
  width: 100%;
  text-align: center;
}

.back .wrapper .experience .col {
  width: 22%;
  margin: 0 20px 20px 20px;
}

.back .wrapper .experience .col p {
  font-size: 14px;
  font-weight: lighter;
  word-spacing: 1px;
  margin-left: 10px;
  text-align: justify;
}

.back .wrapper .experience img {
  cursor: pointer;
}

.back .wrapper .experience img:hover {
  -moz-animation: xoayanhlientuc1 2s linear infinite;
  -webkit-animation: xoayanhlientuc1 2s linear infinite;
  -o-animation: xoayanhlientuc1 2s linear infinite;
}

.back .project {
  width: 100%;
  height: 550px;
  margin: 0 auto;
}

.back .project h3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  float: left;
  font-size: 25px;
  width: 100%;
  text-align: center;
  display: block;
}

.back .project .project-top .project-son-tung {
  width: 250px;
  height: 100px;
  background: red;
}

.back .project .project-top .project-top-right {
  width: 250px;
  height: 100px;
  background: blue;
}

.fourth-page {
  background: #fff;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  color: #003445;
}

.fourth-page .head {
  height: 100px;
}

.fourth-page .head h3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding-left: 10px;
  float: left;
  margin-left: 40px;
  font-size: 25px;
  margin-top: 45px;
  width: 100%;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
}

.fourth-page .project .project-top {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: red;
  width: 90%;
  margin: 0 auto;
  max-height: 250px;
}

.fourth-page .project .project-top .project-son-tung {
  position: relative;
  width: 50%;
  background: url(../img/teaser.mp4);
}

.fourth-page .project .project-top .project-son-tung video {
  background: #003445;
  width: 100%;
  height: 100%;
}

.fourth-page .project .project-top .project-son-tung .project-title {
  position: absolute;
  top: 0;
}

.pageFoldRight {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  border-left-width: 1px;
  border-left-color: #DDDDDD;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD;
  border-bottom-style: solid;
  -webkit-box-shadow: -1px 1px 3px #dddddd;
          box-shadow: -1px 1px 3px #dddddd;
}

.pageFoldLeft {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  border-right-width: 1px;
  border-right-color: #DDDDDD;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD;
  border-bottom-style: solid;
  -webkit-box-shadow: -1px 1px 3px #dddddd;
          box-shadow: -1px 1px 3px #dddddd;
}
/*# sourceMappingURL=style.css.map */